<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="C:\temp\internal.log"
      internalLogToConsole="true">

  <extensions>
    <add assembly="NLog.Targets.NewRelicLab.Logs"/>
  </extensions>

  <targets>
    <!--  licenseKey="REPLACE_YOUR_KEY"  -->
    <target name="logNewRelic" xsi:type="NewRelicLogs" 
            endpoint="https://log-api.newrelic.com/log/v1"
            escapeJson="false"
            batchSize="100"
            retryCount="3"
            taskDelayMilliseconds="1000"
            />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logNewRelic" />
  </rules>
</nlog>